<div class="card"> 
    <div class="card-header">
        <h2>Edit Post</h2>
    </div>
    <form id="edit-post-form" class="card-body">
        <label for="post-title" class="form-label">Title</label>
        <input type="text" id="post-title" class="form-input" value="{{post.title}}">
        
        <label for="post-body" class="form-label">Content</label>
        <textarea name="post-body" class="form-input">{{post.body}}</textarea>

        <button type="submit" class="btn">Submit Changes</button>
        <button type="button" class="btn" id="delete-btn">Cancel Changes</button>

    </form>

</div>